ion-avatar {
    margin-right: 10px;
}

// .spinner-container {
//     margin: auto 0 !important;
// }

// ion-spinner {
//     text-align: center;
// }

span {
    display: table;
    margin: 0 auto;
}